* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    width: 100vw;
}

.navbar {
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.navbar__logo {
    width: 112px;
    height: 37px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.navbar__ul {
    width: 580px;
    display: flex;
    justify-content: space-around;

}

.navbar__ul-item {
    display: flex;
    text-decoration: none;
}

.navbar__ul-item a {
    text-decoration: none;
    color: #837D87;
}


.navbar__button--btn {
    height: 28px;
    width: 134px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    /* padding: 5px 0; */
    color: #000000;
    cursor: pointer;
    margin: -5px;
    background: #fff;
    border: 2px solid #837D87;

}


/* ================= Main ================= */

.main {
    height: 676px;
    width: 100vw;
    display: flex;
    background: #2D2640;
    position: relative;

}

.main__main-1 {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 170px;
}

hr {
    width: 230px;
    height: 2px;
    background: #FAFAFA;
    margin-top: 127px;
}

.we {
    margin-top: 54px;
    width: 452px;
    height: 164px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 82px;
    color: #FFFFFF;
}

.param {
    width: 628px;
    height: 72px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 25px;
    color: #FFFFFF;
}

.main-1__button {
    margin-top: 25px;
    height: 39px;
    width: 175px;
    padding: 3px;
    text-align: center;
    border: 2px solid #837D87;
    cursor: pointer;

}

.main-1__button--btn {
    cursor: pointer;
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    background: #2D2640;
    border: none;
}


.main__main-2 img {
    height: 724px;
    width: 590px;
    margin-top: 127px;
    margin-left: 250px;
    position: absolute;
    left: 530px;
}

/* ================= Body ================= */

.body {
    width: 1200px;
    height: 450px;
    margin: 387px auto 139px;
    display: flex;
    flex-direction: column;
}

.dif {
    height: 82px;
    width: 393px;
    margin-top: 45px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 82px;
    color: #2B272F;

}

.body__head-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 96px;

}

.frame__icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #95A9C6;
    display: flex;
    align-items: center;
    justify-content: center;

}

.images {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.images_1 {
    background: #95A9C6;
}


.body__head-2 h1 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    color: #2B272F;
    margin: 10px 0;
}

.body__head-2 p {
    width: 372px;
    height: 72px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #2B272F;
}

/* ================== rectangel ================ */


.rectangel {
    width: 1200px;
    height: 304px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #2D2640;
    margin: 70px auto;
}

.rectangel__find {
    width: 452px;
    height: 110px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
}


.rectangel__button--btn {
    padding: 10px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    cursor: pointer;
    background: #2D2640;
    border: 1px solid #FAFAFA;
    color: #FAFAFA;
}

/* ================== footer ================ */

.footer {
    width: 100vw;
    height: 648px;
    background: #F3F3F3;
    position: relative;
}

.container {
    width: 1200px;
    height: 445px;
    margin: auto;
    border-radius: 1px solid red;
    position: absolute;
    top: 88px;
    left: 155px;
}


.footer__insur {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 1px solid green;
}

.container hr {
    width: 100%;
    margin-top: 10px;
}

.footer__logo {
    display: flex;
    gap: 15px;
}

.footer__logo img {
    height: 25px;
}

.footer__roc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 80px;
}

.roc__ul {
    width: 151px;
    height: 38px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2B272F;
}

.lop {
    width: 135px;
    height: 23px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #837D87;
}

li {
    list-style: none;
    margin-top: 23px;
    color: #2B272F;
}

a {
    text-decoration: none;
}